<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Booking step one</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
    <script>
        $( function() {
            var dateFormat = "dd-mm-yy",
                from = $( "#from" )
                    .datepicker({
                        defaultDate: "+1w",
                        changeMonth: true,
                        numberOfMonths: 3
                    })
                    .on( "change", function() {
                        to.datepicker( "option", "minDate", getDate( this ) );
                    }),
                to = $( "#to" ).datepicker({
                    defaultDate: "+1w",
                    changeMonth: true,
                    numberOfMonths: 3
                })
                    .on( "change", function() {
                        from.datepicker( "option", "maxDate", getDate( this ) );
                    });

            function getDate( element ) {
                var date;
                try {
                    date = $.datepicker.parseDate( dateFormat, element.value );
                } catch( error ) {
                    date = null;
                }

                return date;
            }
        } );
    </script>
</head>

<body>
<div class="jumbotron text-center p-2 my-2">
<h1> Select dates for booking your car: </h1>
</div>
<!--
<form th:action="@{/rentcar/booking/step/two}" method="post">
    <div>
    <label for="from">From</label>
    <input type="text" id="from" name="from">
    <label for="to">to</label>
    <input type="text" id="to" name="to">
</div>

    <div class="form-group">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <input type="submit" name="show-available-cars" id="show-available-cars"
                       class="form-control btn btn-primary" value="Show available cars for rent" />
            </div>
        </div>
    </div>
</form> -->


<div class="container-fluid pt-10">
    <div class="d-flex justify-content-center">
        <form th:action="@{/rentcar/booking/step/two}" method="post">
            <label for="from" class="-mr-sm-2">From</label>
            <input type="text" class="form-control mb-2 mr" id="from" placeholder="Enter date" name="from">
            <label for="to" class="mb-2 mr-sm-2">To</label>
            <input type="text" class="form-control mb-2 mr-sm-2" id="to" placeholder="Enter date" name="to">
            <div class="d-flex justify-content-center p-2 my-2">
                <input type="submit" name="show-available-cars" id="show-available-cars"
                       class="btn btn-primary btn-sm-1 mb-1" value="Show Available Cars" />
            </div>
        </form>
    </div>
</div>


</body>
</html>